body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 23% 1fr 1fr;
    grid-template-areas: "menu video video"
                         "menu description description"
                         "menu comments suggestions";
    height: 100%; 
}

.menu {
    grid-area: menu;
    background: #16182b;
    color: white;
    padding: 25px 20px;
}
.menu-title h1, .menu-title span{
    font-weight: 500;
    font-size: 36px;
}
.menu-title span {
    color: #db1178;
}
.menu-playlist ol { 
    padding-left: 18px;
}
body > div > section.menu > div.menu-playlist > p { /*selector del titulo de la playlist*/
    margin-left: 0;
}
.menu-playlist p {
    margin: 20px 0;
    margin-left: 20px;
}
.menu-playlist span {
    margin-right: 25px;
}
.menu-friendsPlaylist p {
    margin-top: 32px;
}
.friends {
    list-style: none;
    padding: 0;
}
.friends li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.friends p {
    margin: 0;
    margin-left: 15px;
}
figure {
    margin: 0;
}
.profile-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.video {
    grid-area: video;
    position: relative
}
.video-image img {
    width: 100%;
    height: 494px;
}
.icon-arrow-left2 {
    position: absolute;
    color: white;
    font-size: 32px;
    top: 25px;
    right: 0;
    left: 25px;
    bottom: 0;
    height: 450px;
    z-index: 2;
}
.icon-play2 {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 494px;
    z-index: 3;
}
.overlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 494px;
}

.description {
    grid-area: description;
    border-bottom: 3px solid #d0d0d0;
    padding: 20px;
    padding-top: 30px; 
}
.description-title {
    color: #43475c;
    font-size: 24px;
}
.description-title p {
    margin: 0;
}
.description-views {
    color: #b9b8b9;
    font-size: 20px;
}
.description-views p {
    margin-top: 0;
}
.description-options {
    display: grid;
    grid-template-columns: 15% 30% 50%;
    grid-template-areas: "main-button icons genres";
}
.main-button {
    grid-area: main-button;grid-area: main-button;
    display: flex;
    align-items: center;
}
.main-button button {
    background: linear-gradient(to left,#db1178,#c90021);
    font-size: 16px;
    color: white;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 10px;
}
.icons {
    grid-area: icons;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #43475c;
}
.icon-share:before {
    margin-left: 10px;
    font-size: 28px;
}
.icon-cloud-download:before {
    margin-left: 20px;
    font-size: 32px;
}
.icons i {
    margin-right: 50px;
}
.icons p {
    margin: 0;
}
.genres {
    grid-area: genres;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.button {
    margin: 0 10px;
    border: 1px solid transparent;
    color: white;
    padding: 5px 30px;
    border-radius: 10px; 
}
.electronic {
    background: #8d3cf4;
}
.roc {
    background: #27fdbc;
}
.ochenta {
    background: #c90021;
}
.rela {
    background: #db1178;
}


.comments {
    grid-area: comments;
    padding: 10px 25px;
}
.comments-title p {
    color: #43475c;
    font-size: 18px;
}
.comment-form {
    display: grid;
    grid-template-columns: 1fr 7fr;
    border-bottom: 3px solid #d2d2d2;
    border-top: 3px solid #d2d2d2;
    border-radius: 3px;
}
.comment-form input {
    color: #b9b8b9;
    background: #d2d2d2;
    font-size: 18px;
    border: 1px solid transparent;
}
.form-image {
    background: #d2d2d2;
}
.form-image img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
}
.comment-user {
    color: #858388;
}

.suggestions {
    grid-area: suggestions;
    padding-top: 10px;
}
.suggest-list ul {
    list-style: none;
}
.suggest-image img {
    width: 80%;
    box-shadow: 2px 4px 20px 0 #afadad;
}
.suggest-description {
    width: 80%;
}
.suggestions-title p {
    color: #43475c;
    font-size: 18px;
    margin-left: 20%;
}
.suggest-description {
    color: #858388;
    margin-top: 3px;
    margin-bottom: 25px;
}

@media screen and (max-width: 1023px) {
    .description-options {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "main-button icons" 
                             "genres genres";
        grid-gap: 1em;
    }
    .main-button {
        display: grid;
        justify-items: end;
    }
    .icons {
        justify-content: start;
    }
    .icons i {
        margin-right: 2em;
    } 
}

@media screen and (max-width: 767px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "menu menu"
                             "video video"
                             "description description"
                             "comments suggestions";
    }

    .menu {
        padding: 25px 20px;
    }
    .menu-playlist, .menu-friendsPlaylist {
        display: none;
    }
    .menu-title h1, .menu-title span {
        margin: 0;
    }
    
    .comment-user {
        font-size: .9em;
    }
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "menu"
                             "video"
                             "description"
                             "suggestions"
                             "comments";
    }

    .menu {
        padding: 1em;
    }

    .video-image img, .icon-arrow-left2,  .icon-play2, .overlay {
        height: 250px;
    }
    .icon-arrow-left2 {
        font-size: 2em;
    }
    .icon-play2 {
        font-size: 3em;
    }

    .suggestions-title p {
        margin-left: 0;
        padding-left: 40px;
    }
}

@media screen and (max-width: 320px) {
    .description-options {
        grid-template-columns: 1fr;
        grid-template-areas: "main-button" 
                             "icons";
        grid-gap: 1em;
    }
    .main-button {
        justify-items: initial;
    }
    .icons {
        justify-content: center;
    }
    .genres {
        display: none;
    }
}